<div id="page-header">
        <div class="section-bg" style="background-image: url(img/background-2.jpg);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content"><br>
                        <h1>About Us</h1>
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- about-style-two -->
    <section class="about-style-two sec-pad">
        <div class="container">
            <div class="sec-title text-center">Having an animal in your life makes you  <br><span> A <br>Better Human </span></div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 about-column">
                    <div class="about-content">
                        <div class="top-content">
                            <div class="title">Raise Your Helping Hand</div>
                            <div class="text">Help Animals India strives not only to achieve immediate assistance for India’s animals, but to nurture an enduring culture of protecting animals in India. 
                            This builds capacity through education, consultation, networking, and financial 
                            support, which enables these groups to fulfill their aims, grow, and most 
                            importantly, help more animals.</div>
                            <ul class="list">
                                <li>One of the worst thing about stray animals is that people have the mindsets that stray dogs and cats are harmful, cruel and have no love. Instead they are the one's who love you the most if you show them care and affection.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 img-column">
                    <figure class="img-box"><img src="img/2.jpg" alt="" style="max-width: 100%;"></figure>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-two -->

<section class="about-style-two my-5">
    <div class="container">
        <div class="lower-content">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="number">
                                            <h4><a href="#">Our Vision</a></h4>
                                            <div class="text">To help each and every stray animal.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 column">
                                    <div class="single-item">
                                        <div class="number">
                                            <h4><a href="#">Our Mission</a></h4>
                                            <div class="text">No one live without food & shelter</div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</section>

    

    <!-- team-section -->
    <section class="team-section overlay-style-two sec-pad text-center mb-5">
        <div class="container">
            <div class="sec-title text-center">Our Volunteer</div>
            
            <div class="team-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                        <div class="single-team-content single-item">
                            <div class="image img-box">
                                <figure><img src="img/team-1.jpg" alt=""></figure>
                                <div class="overlay">
                                    <a class="link-btn" href="#">
                                        <i class="fa fa-link"></i>
                                    </a>                                
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4><a href="#">Hemant</a></h4>
                                <div class="title">Volunteer</div>
                                <div class="text">It is illegal to maim or cause any injury to any animal.</div>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                        <div class="single-team-content single-item">
                            <div class="image img-box">
                                <figure><img src="img/team-2.jpg" alt=""></figure>
                                <div class="overlay">
                                    <a class="link-btn" href="#">
                                        <i class="fa fa-link"></i>
                                    </a>                                
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4><a href="#">Bhawesh</a></h4>
                                <div class="title">Volunteer</div>
                                <div class="text">Welfare Board  issues IDs for people who feed stray animals.</div>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-column">
                        <div class="single-team-content single-item">
                            <div class="image img-box">
                                <figure><img src="img/team-3.jpg" alt=""></figure>
                                <div class="overlay">
                                    <a class="link-btn" href="#">
                                        <i class="fa fa-link"></i>
                                    </a>                                
                                </div>
                            </div>
                            <div class="lower-content">
                                <h4><a href="#">Dixant</a></h4>
                                <div class="title">Volunteer</div>
                                <div class="text">No laws that prohibit people from feeding stray animals</div>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-section end -->