 <div id="page-header">
        <div class="section-bg" style="background-image: url(img/background-2.jpg);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content"><br><br>
                        <h1>Contact Us</h1>
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <h1 class="pb-5 mx-auto">We are always available for you</h1>
            <div class="col-md-6 col-sm-12">
                <div class="row border border-success mx-5 py-3">
                    <div class="col-md-2 m-auto text-center">
                        <p class="h3"><i class="fa fa-phone text-success"></i></p>
                    </div>
                    <div class="col-md-10">
                        <h3>Call us</h3>
                        <h4>8800926672|8275147413|9765555546</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row border border-success mx-5 py-3">
                    <div class="col-md-2 m-auto text-center">
                        <p class="h3"><i class="fa fa-envelope text-success"></i></p>
                    </div>
                    <div class="col-md-10">
                        <h3>Just Say Hello</h3>
                        <h4>info@sharencare.com</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="contact-form">
            <h1 class="text-center">GET IN TOUCH</h1>
            <h5 class="text-center mb-5">PLEASE FEEL FREE TO ASK ANYTHING</h5>
    <form action="/info" method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <input class="input" placeholder="Your Name" name="name" type="text">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="input" placeholder="Email" name="email" type="email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="input" placeholder="Contact Number" name="contact" type="number">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="input" placeholder="Your City" name="city" type="text">
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="form-group">
                    <textarea class="input" name="message" placeholder="Message"></textarea>
                </div>
                <div class="text-center">
                    <button class="primary-button">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
    </div>


